
.search{

    margin-top: 1%;
    width: 100%;
    display: flex;
    justify-content: center;

}

.search > input{
    width: 30%;
    height: 5vh;
    margin-bottom: 3%;
    padding-left: 3vmin;
}

.container{
    
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 20px;
    place-items: center;
    justify-content: center;
    align-items: center;
    
}
.container > div{
    width: 60%;
    height: 35vh;
    border-radius: 5%;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    
}
.container > div >p,h3 {
    padding: 0.3vmin;
    text-align: center;
    height: 3.5vmin;
}